# Environments
.env
venv/
env/

# Python Cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Database (SANGAT PENTING: Jangan upload DB ke GitHub)
*.db
*.sqlite3
sifeno_tracker.db

# OS Files
.DS_Store
Thumbs.db

# Streamlit specific (Opsional)
.streamlit/secrets.toml